{
  "main": {
    "stack_name": "SECURESTREAM",
    "assets_bucket_name" : "MY_ASSETS_BUCKET_NAME",
    "rotate_secrets_frequency": "1m",
    "rotate_secrets_pattern": "P",
    "wcu": "100",
    "retention": "5",
    "metrics": true
  },
  "api": {
    "demo": true

  },
  "hls": {
    "hostname": "H",
    "url_path": "U",
    "ttl": "+3h"
  },
  "dash": {
    "hostname": "H",
    "url_path": "U",
    "ttl": "+24h"
  }
}
